body {
}

.header {
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
    height: 80px;
    border-radius: 2px;
    font-size: 15px !important;
    line-height: 40px;
    text-decoration: none;
    color: dimgrey;
}

.header2 {
    width: 92%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 210px;
}

@media only screen and (max-width: 1500px) {
    .header2 {
        padding: 0 100px;
    }
}

@media only screen and (max-width: 1200px) {
    .header2 {
        padding: 0 60px;
    }
}

@media only screen and (max-width: 900px) {
    .header2 {
        padding: 0 30px;
    }
}

@media only screen and (max-width: 560px) {
    .header2 {
        padding: 0 5px;
    }
}

.header-left {
    float: left;
    height: 80px;
    font-size: 18px;
}

.header-middle {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    justify-content: center;
    margin-left: -44px;
}

.header-right {
    float: right;
    height: 80px;
}

.header-img {
    height: 75px;
    width: auto;
    margin-right: 50%;
}

.singup {
    box-shadow: 0px 2px 5px 1px rgba(231,179,102,0.72) !important;
    padding: 6px 25px !important;
    color: #fff !important;
}

    .singup:hover {
        color: #c79953 !important;
    }

.signin {
    border-color: rgba(0, 0, 0, 0.2) !important;
    margin-right: 20px !important;
}

.header-btn {
    color: #111;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.71) !important;
    position: relative;
}


.header-otherBtns {
    color: #555 !important;
    font-weight: 400;
    font-size: 18px;
}

a:link {
    text-decoration: none !important;
    font-size: 18px;
}

.header-btn::after {
    background-color: #E7B366;
    content: "";
    width: 100%;
    height: 4px;
    display: block;
    position: absolute;
    bottom: -20px;
}

.midPage {
    background-color: #F0F1F4;
    background-image: url(../images/jpeg1.jpg);
    margin-top: 1.5px;
    height: 400px;
    width: auto;
    padding-top: 545px;
    background-repeat: no-repeat;
    background-position: center bottom;
    position: relative;
    z-index: -1;
    
}

.text {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -185px;
    margin-top: 40px;
    font-family:Barlow, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 600;
}

.txt-line {
    position: absolute;
    text-align: center;
    top: 90px;
    left: 30%;
    line-height: 1.3;
    font-size: 20px;
    width: 800px;
    color: #4e4e4e;
}

#search-box{
    display: flex;
    align-items:center;
    position: absolute;
    border: none;
    background-color: #fff;
    border-radius: 8px;
    top: 30%;
    left: 27%;
    width: 50%;
    height: 16%;
}

#search-box .search-box-input{
    background-color: transparent;
    height: 100%;
    width: 100%;
    margin-left: 22px;
    border: none;
}

#search-box .search-box-icon {
    background-image: url(../images/search.png);
    background-repeat: no-repeat;
    margin-left: 22px;
    height: 25px;
    width: 25px;

 }

.subjects{
    position: relative;
    padding: 70px 35px;
    background-color: white;
}

.sbj-tittle{
    font-family: Barlow, Helvetica, sans-serif;
    text-align: center;
    font-size: 33px;
    font-weight: 600;

}

.tiles{
    display: flex;
    flex-wrap: wrap;
}

.btnHover {
    color: #4e4e4e;
  
}

    .btnHover:hover {
        color: #E7B366;
        border-color: #E7B366 !important;
    }

.pinkMid {
    position: relative;
    padding: 90px 20px;
    background-color: #E8BCC9;
    background-image: url(../images/jpeg2.jpg);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 23%;
}

.pinkMid::before{
    background: url(../images/tirnak.svg) no-repeat top left;
    content: "";
    display: block;
    position: absolute;
    height: 250px;
    width: 350px;
    top: 0px;
}

.pinkMid::after{
    background: url(../images/tirnak2.svg) no-repeat top right;
    content: "";
    display: block;
    position: absolute;
    height: 250px;
    width: 350px;
    top: 0px;
    left: 80%

}

.tittle {
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    margin-bottom: 20px;
    text-align: center;
}

.blockquote {
    color: #333;
    margin: 15px 0 60px 0;
    text-align: center;
}

.whiteLine{
    border-style: solid !important;
    border-width: 0.1px !important;
    border-color: white !important;
    
}

.blog {
    text-align: center;
    margin-top: 70px;
}


.lBlog {
    text-align: center;
    color: black;
    font-size: 25px !important;
    font-weight: 600;

}
    .lBlog:hover {
        color: #E7B366;
    }

.blogLine {
    border-style: solid !important;
    border-width: 0.1px !important;
    border-color: #E7B366 !important;
}


.colHover:hover {
    color: #E7B366;
    border-color: #E7B366 !important;
}

.colHover a:link{
    color:black !important;
}

    .colHover:hover a:hover {
        color: #E7B366 !important;
    }


.banner {
    width: 150px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.email {
    text-align: left;
    font-size: 15px;
    width: 600px;
    color: rgba(89,89,89,0.2);
    border: 1px solid;
    border-radius: 4px;
    padding: 10px 10px;
    outline:none;
}
    .email:hover {
        color: #E7B366 !important;
    }

.sumbit{
    text-align: center;
    background-color: #E7B366 !important;
    border: 1px solid;
    color: white;
    width: 600px;
    border-radius: 4px;
    padding: 6px 5px;
}

.mainFooter {
    background-color: #fbfbfb;
    padding: 0 40px;
    overflow: hidden;
    margin-top: 60px;
    background-image: url(../images/footer.png);
    background-position-x: 80%;
    background-repeat: no-repeat;
}

.headFooter {
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    position: relative;
    height: 470px;
}

.Footer{
    background-color: black;
    height: 125px;
    margin-top: -5px;
    text-align: center;
 
}


    .Footer:hover{
    color: #E7B366 !important;
}


  



